<div class="main_container">
  <div class="container">
    <div class="left-div">
      <div class="search-container">
        <svg
          class="search-icon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g opacity="0.8" id="icon-search">
            <path
              d="M19.4697 20.5303C19.7626 20.8232 20.2374 20.8232 20.5303 20.5303C20.8232 20.2374 20.8232 19.7626 20.5303 19.4697L19.4697 20.5303ZM13.9312 14.9919L19.4697 20.5303L20.5303 19.4697L14.9919 13.9312L13.9312 14.9919Z"
              fill="currentColor"
            ></path>
            <circle
              cx="10.1538"
              cy="10.1538"
              r="6.15385"
              stroke="currentColor"
              stroke-width="1.5"
            ></circle>
          </g>
        </svg>
        <input type="text" class="search-input" placeholder="Назва страви" />
      </div>
      <div class="list-container">
{% for tag in tags %}
<div class="list-item first" data-target="details-{{{ loop.index }}}">
	{{{tag.name}}}
</div>
{% endfor %}
        <!-- <ul class="sub-menu">
          <li class="list-item" onclick="showDetails('mealsDetails')">
            М'ясо, сало, ковбаса
          </li>
          <li class="list-item" onclick="showDetails('mealsDetails')">
            Салати
          </li>
          <li class="list-item" onclick="showDetails('mealsDetails')">
            Гарячі закуски
          </li>
          <li class="list-item" onclick="showDetails('mealsDetails')">
            Вареники
          </li>
          <li class="list-item" onclick="showDetails('mealsDetails')">
            Перші страви
          </li>
          <li class="list-item" onclick="showDetails('mealsDetails')">
            Шмати м'яса
          </li>
          <li class="list-item" onclick="showDetails('mealsDetails')">
            М'ясо & хліб
          </li>
          <li class="list-item" onclick="showDetails('mealsDetails')">
            Основні страви
          </li>
          <li class="list-item" onclick="showDetails('mealsDetails')">
            Гарніри
          </li>
          <li class="list-item" onclick="showDetails('mealsDetails')">
            Солодке
          </li>
        </ul> -->
        <!-- Repeat the pattern for other main categories -->
      </div>
    </div>
    <div class="right-div">
      {% for tag in tags %}
	<div class="details-container" id="details-{{{ loop.index }}}">
        <div class="top-bar">
          <div class="icon-wrapper" style="background: rgb(253, 237, 226)">
            <div class="img-container">
              <img
                src="https://docs-s2p.s3.eu-west-1.amazonaws.com/icons/tags/star_2b50.png"
                alt="Обіди (пн-пт 12:00-16:00)"
              />
            </div>
          </div>
          <div class="marketing-item--text">{{{tag.name}}}</div>
        </div>
        <hr size="1px" width="100%" color="#ccc" />
        {% for product in tag.products %}
        <div
          class="food-item"
          onclick='openModal({ "name": "{{{product.name}}}", "price": "{{{product.price}}}", "short": "{{{product.short}}}", "thumb": "{{{product.thumb}}}" })'
        >
          <div>
            <h4>{{{product.name}}}</h4>
            <span class="food-item-price">{{{product.price}}} ₴</span>
            <p>{{{product.short}}}</p>
            <p>130 г</p>
          </div>
          <div class="food-item-image">
            <img
              data-v-eaeccb0b=""
              src="{{{product.thumb}}}"
              alt="Форшмак з кав‘яром оселедця"
            />
		<button onclick="event.stopPropagation();" class="basket-button" data-product-name="{{{product.name}}}">
              <div class="base-icon order-mark__icon">
                <div class="base-icon-content">
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11.25 1.75H4.75C3.64543 1.75 2.75 2.64543 2.75 3.75V14.2504L8 10.75L13.25 14.2504V3.75C13.25 2.64543 12.3546 1.75 11.25 1.75Z"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      id="icon-bookmark"
                    ></path>
                  </svg>
                </div>
                <!---->
              </div>
            </button>
          </div>
        </div>
        <hr size="1px" width="100%" color="#ccc" />
        {% endfor %}
      </div>
      {% endfor %}
	<button id="scrollTopBtn" onclick="scrollToTop()" style="display: none;">Scroll to Top</button>
    </div>
  </div>
  <div
    class="modal-background"
    id="modalBackground"
    onclick="closeModal()"
  ></div>
  <div class="modal" id="modalWindow">
    <div class="modal-content">
      <!-- Тут вставте дані про товар -->
      <div class="close-btn" onclick="closeModal()">
        <div class="base-icon-content">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7 17L16.5 6.75"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              id="icon-close-modal"
            ></path>
            <path
              d="M17.0007 17L6.75073 6.75"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
            ></path>
          </svg>
        </div>
        <!---->
      </div>
      <h4 id="modalProductName">Product Name</h4>
      <img id="modalProductImage" src="" alt="Product Image" />
      <span class="food-item-price" id="modalProductPrice">Product Price</span>
      <p id="modalProductDescription">Product Description</p>
      <button class="item-btn">
        <span class="text" data-product-name="modalProductName">Додати в закладки</span>
        <div class="">
          <div class="">
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11.25 1.75H4.75C3.64543 1.75 2.75 2.64543 2.75 3.75V14.2504L8 10.75L13.25 14.2504V3.75C13.25 2.64543 12.3546 1.75 11.25 1.75Z"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                id="icon-bookmark"
              ></path>
            </svg>
          </div>
          <!---->
        </div>
      </button>
    </div>
  </div>
</div>
<!-- {% for product in products %}
<h1>{{{product.name}}}</h1>
<img src="{{{product.thumb}}}" alt="{{{product.name}}}">
<div>
	{{{product.short}}}
</div>
<span>{{{product.price}}}</span>
{% endfor %} -->
