body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
header {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  background-color: #ffffff;
  width: 920px;
  color: #fff;
  padding: 22px;
  display: flex;
  border-radius: 10px;
  border-color: rgb(193, 118, 118);
}

.website-name {
  display: flex;
  align-items: center;
}
.website-name h1 {
  color: black;
  font-size: 15px;
}
.website-rightsection {
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu-switcher {
  background-color: #ffffff; /* Колір фону */
  color: #000000; /* Колір тексту */
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px; /* Бордер-радіус */
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-switcher:hover {
  background-color: #034706; /* Змінюємо колір при наведенні */
  color: white;
}

/* Стилі для заголовка внутрішньої кнопки */
.menu-switcher-title {
  margin: 0;
  font-size: 16px; /* Розмір шрифту */
}

/* Стилі для іконки внутрішньої кнопки */
.menu-switcher__icon {
  fill: #fff; /* Колір іконки */
  margin-left: 10px; /* Відступ між текстом і іконкою */
}
.website-rightsection select {
  border-radius: 10px;
  width: 80px;
  height: 60%;
}

.main_container {
  display: block;
  margin: 0 auto;
  max-width: 920px;
  // align-items: center;
  // justify-content: center;
  // justify-items: center;
  // display: flex;
}
.container {
  width: 920px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

.left-div {
  width: 252px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.search-container {
  padding: 10px;
}

.sub-menu {
  list-style-type: none;
}
.list-container {
  overflow-y: auto;
  min-height: 300px;
}
.top-bar {
  display: flex;
  max-width: 108px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.icon-wrapper {
  width: 56px;
  height: 56px;
  box-shadow: 0 6px 8px -6px rgba(24, 39, 75, 0.12),
    0 8px 16px -6px rgba(24, 39, 75, 0.08);
  border-radius: 16px;
  margin-left: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-container {
  width: 32px;
  display: inline-block;
}
.marketing-item--text {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  margin-top: 12px;
}
.list-item {
  padding: 17px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 15px;

  font-size: large;
  transition: background-color 0.3s, border-radius 0.3s, color 0.3s;
}

.list-item:hover:not(.active) {
  background-color: #f4f4f4;
  border-radius: 15px;
}

.list-item.active {
  background-color: #034706;
  color: #fff;
  border-radius: 15px;
}

.right-div {
  flex: 1;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
}

.details-container {
  display: none;
}

.details-container.active {
  display: block;
}

.circle-logo {
  min-width: 65px;
  height: 65px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.circle-logo img {
  height: 190px;
  width: 320px;
  background-color: #fff;
}

.circle-logo h2 {
  margin: 0;
  font-size: 28px;
  color: #cdcdcd;
}

.add-to-favorite {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  padding: 10px;
  background-color: #4caf50;
  color: #555555;
  border: none;
  border-radius: 5px;
  width: 175px;
  height: 40px;
  font-size: 16px;
}
.item-btn {
  width: 100%;
  height: 48px;
  left: 24px;
  bottom: 140px;
  background: #034706;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  color: white;
  transition: color 0.5s, background 0.5s, border-color 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 85px;
  border: none;
  outline: none;
  margin-top: 35px;
}

.item-btn .text {
  flex: 1;
  text-align: left;
}

.item-btn svg {
  flex-shrink: 0;
  margin-left: 8px;
}

.add-to-favorite:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  width: 175px;
  height: 40px;
  font-size: 14px;
}

.logo-container {
  text-align: center;
  margin-top: 50px;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  margin: 20px;
}

.left-div {
  width: 30%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.right-div {
  flex: 1;
  width: 70%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
}

.search-container {
  position: relative;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding-left: 50px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 375px;
  height: 575px;
  background-color: white;
  border: 3px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

/* Стилі для тла за модальним вікном */
.modal-background {
  display: none;
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Стилі для змісту модального вікна */
.modal-content img {
  padding-bottom: 50px;
  width: 325px;
}
.modal-content button {
}
.search-icon {
  position: absolute;
  left: 18px;
  top: 42%;
  transform: translateY(-50%);
}
.food-item {
  display: flex;
  justify-content: space-between;
  position: relative; /* Required for absolute positioning within */
  margin-bottom: 20px;
}

.food-item img {
  max-width: 160px;
  height: 154px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.basket-button {
  position: absolute;
  bottom: -12px;
  right: -12px;
  min-width: 40px;
  min-height: 40px;
  height: 36px;
  border: 2px solid #ffffff;
  border-radius: 24px;
  padding: 12px 10px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
.basket-button-header {
  bottom: -12px;
  right: -12px;
  height: 36px;
  border: 2px solid #ffffff;
  border-radius: 24px;
  padding: 12px 10px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
.food-item h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 15px;
}

.food-item-price {
  box-sizing: border-box;
  background: none;
  color: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-shadow: none;
  vertical-align: inherit;
  min-height: 0;
  min-width: 0;
  font-size: 18px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}
.food-item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: gray;
  cursor: pointer;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: pre-wrap;
}

@media only screen and (max-width: 999px) {
  .conditional-container .add-to-favorite {
    display: none; /* Приховати першу кнопку */
  }

  .conditional-container .basket-button-header {
    display: block; /* Показати другу кнопку */
  }
}

/* Стилі для екранів шириною більше 1000px */
@media only screen and (min-width: 1000px) {
  .conditional-container .add-to-favorite {
    display: block; /* Показати першу кнопку */
  }

  .conditional-container .basket-button-header {
    display: none; /* Приховати другу кнопку */
  }
}
@media (max-width: 1000px) {
  .container {
    max-width: 100%; /* Змінюємо max-width на 100% для мобільного режиму */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .list-container {
    order: 1;
    display: block;
  }

  .right-div {
    order: 2;
    margin-top: 20px;
  }

  .right-div {
    order: 2;
    margin-top: 20px; /* Відступ зверху для правого блоку */
  }

  /* Залишені стилі без змін */
  .list-item {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .list-item:last-child {
    border-bottom: none;
  }

  .list-item:hover {
    background-color: #f5f5f5;
  }

  .sub-menu {
    padding-left: 20px;
    display: none;
  }

  .list-item:hover .sub-menu {
    display: block;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

// @media only screen and (max-width: 600px) {
//   .menu-item {
//     flex-direction: column;
//     text-align: center;
//   }

//   .logo {
//     font-size: 24px;
//   }

//   .circle-logo {
//     width: 40px;
//     height: 40px;
//   }

//   .circle-logo h2 {
//     font-size: 14px;
//   }

//   .add-to-favorite {
//     font-size: 14px;
//   }

//   .container {
//     flex-direction: column;
//   }

//   .left-div {
//     width: 100%;
//     margin-bottom: 10px;
//   }

//   .right-div {
//     margin-left: 0;
//   }

//   .search-input {
//     padding-left: 30px;
//   }
// }

/* New styles for food-item */
@media only screen and (max-width: 1000px) {
  header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    width: 465px;
    color: #fff;
    display: flex;
    padding: 0px;
    border-radius: 8px;
    border-color: rgb(193, 118, 118);
  }

  .website-name h1 {
    color: black;
    font-size: 12px;
  }
  .website-rightsection {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .website-rightsection select {
    border-radius: 8px;
    width: 20px;
    height: 40%;
  }
  .website-rightsection-favorite {
    width: auto;
  }

  .circle-logo img {
    height: 130px;
    width: 220px;
    background-color: #fff;
  }
  .food-item {
    width: 365px;
  }
  .right-div {
    width: 465px;
  }
  .left-div {
    width: 465px;
  }
  .details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .details-container.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .food-item-image {
    display: flex;
    flex-direction: row;
  }
  .food-item img {
    justify-content: flex-end;
    width: 100px;
    height: 75px;
    border-radius: 5px;
    text-align: end;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  @media only screen and (max-width: 485px) {
    .food-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 265px;
    }
    .food-item img {
      max-width: 75px;
      height: 75px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    .food-item h4 {
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 17px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      cursor: pointer;
      margin-bottom: 12px;
    }
    .food-item-price {
      box-sizing: border-box;
      background: none;
      color: inherit;
      font: inherit;
      padding: 0;
      margin: 0;
      outline: none;
      border: none;
      text-decoration: none;
      box-shadow: none;
      vertical-align: inherit;
      min-height: 0;
      min-width: 0;
      font-size: 18px;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
      -webkit-tap-highlight-color: transparent;
    }
    .food-item p {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: gray;
      cursor: pointer;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space: pre-wrap;
    }
    .right-div {
      width: 315px;
    }
    .left-div {
      width: 315px;
    }
    header {
      width: 315px;
    }
    .circle-logo img {
      height: 100px;
      width: 160px;
      background-color: #fff;
    }
    .website-rightsection {
      width: 160px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    .modal {
      display: none;
      position: fixed;
      z-index: 9999;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 305px;
      height: 545px;
      background-color: white;
      border: 3px solid #ccc;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      overflow-y: auto;
    }
    .item-btn {
      width: 100%;
      height: 48px;
      left: 24px;
      bottom: 140px;
      background: #034706;
      border-radius: 24px;
      cursor: pointer;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      vertical-align: middle;
      color: white;
      transition: color 0.5s, background 0.5s, border-color 0.5s;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 45px;
      border: none;
      outline: none;
      margin-top: 55px;
    }
  }
}
